<%- include Partials/header.ejs%>
<%- include Partials/main_nav.ejs%>

    <!--<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="/Assets/images/gym.mp4" type="video/mp4">
    </video>
    Main content--><!--
    
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>-->
        <div class="video-container">
            <!-- Background Video -->
            <video autoplay muted loop>
                <source src="/Assets/images/gym.mp4" type="video/mp4">
            </video>
    
            <!-- Content Overlay -->
            <div class="content-overlay">
                <h1 class="display-3">Create Your Workout Plan</h1>
                <p class="lead">Create or view workout plan by clicking the button below</p>
                <a href="/plan" class="btn btn-primary mt-3">View workout plan</a>
            </div>
        </div>
    

<%- include Partials/footer.ejs%>